<p id="notice"><%= notice %></p>

<p>
  <strong>Titre:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @product.price %>


<%= link_to 'Modifier', edit_product_path(@product) %> |
<%= link_to 'Retour', products_path %>
